@model WebApplication15.Models.Teacher

@{
    ViewBag.Title = "AddTeacher";
}

<style>
    body {
        font-family: Calisto MT;
        margin: 0;
    }

    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background: transparent;
        color: #fff;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 10px;
    }



    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background: transparent;
        color: black;
        font-weight: unset;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .signup-content {
        width: 600px;
        margin-right: 700px;
        margin-top: 50px;
        background: rgba(170, 153, 67, 0.75);
        color: #fff;
        float: right;
    }

    .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .submit-link {
        border: 2px solid #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;
    }

        .submit-link:hover {
            background: #fff;
            color: #b18757;
        }

    .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        text-transform: unset;
        font-size: 13px;
        cursor: pointer;
        color: #000;
    }


    .submit-link {
        border: 2px solid #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 10px 0;
        text-align: center;
        cursor: pointer;
        background-color: #6d6d0b;
    }

        .submit-link:hover {
            background: #fff;
            color: #000;
        }
</style>


@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    <br /><br />
    <div>
        <h3> @Html.ActionLink("Back to List", "Teacher")</h3>
    </div>
   
    <div class="form-horizontal">
        <br /><br /><br />
        @Html.ValidationSummary( "", new { @class = "text-danger" })
        <div class="form-group">
            &emsp; &emsp;  @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                &emsp; &emsp;&emsp; &emsp; &emsp;&emsp;&emsp; @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            &emsp; &emsp;  @Html.LabelFor(model => model.Email, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                &emsp; &emsp;&emsp; &emsp; &emsp;&emsp;&emsp; @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            &emsp; &emsp; @Html.LabelFor(model => model.Designation, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                &emsp; &emsp;&emsp; &emsp; &emsp;&emsp;&emsp; @Html.EditorFor(model => model.Designation, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Designation, "", new { @class = "text-danger" })
            </div>
        </div>

        

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Add" class="submit-link submit" />
            </div>
        </div>
    </div>
}

<br /><br /><br />
