@model IEnumerable<WebApplication15.Models.All_Books>

@{
    ViewBag.Title = "AllBooks";
}

@using (Html.BeginForm("AllBooks", "Admin", FormMethod.Get))
{
    <p>
        <h2>Search by:</h2>
        @Html.RadioButton("searchby", "Number", true)<text>BookNumber</text>
        @Html.RadioButton("searchby", "Name")<text>Name</text><br />
        @Html.TextBox("search")<input type="submit" value="search" />

    </p>


}

<p>
    @Html.ActionLink("Add Book", "AddAllBooks")
</p>
<table class="table" style="margin-top: 2cm;" align="center">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Number)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Author)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Edition)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Status)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Number)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Author)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Edition)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status)
        </td>
        <td>
            @Html.ActionLink("Edit", "Editallbooks", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "DeleteAllBooks", new { id=item.ID })
        </td>
    </tr>
}

</table>
<br /><br /><br /><br /><br /><br />