

@{
    ViewBag.Title = "Forgot Password Confirmation";
}

@{
    Layout = null;
}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
    body {
        font-family: Calisto MT;
        margin: 0;
        background-image: url("../Images/t.jpeg");
    }

    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background: transparent;
        color: #fff;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 20px;
    }

    /* Style the top navigation bar */
    .navbar {
        overflow: hidden;
        background-color: #333;
        font-family: Calisto MT;
    }

        .navbar a {
            float: right;
            font-size: 16px;
            color: white;
            text-align: center;
            padding: 14px 16px;
            text-decoration: none;
        }


    input {
        border: none;
        box-sizing: border-box;
        border-bottom: 1px solid #ebebeb;
        background: transparent;
        color: #fff;
        font-weight: bold;
        font-family: 'Poppins';
        font-size: 20px;
    }

    .signup-content {
        width: 600px;
        margin-right: 700px;
        margin-top: 100px;
        background: rgba(170, 153, 67, 0.75);
        color: #fff;
        float: right;
    }

    .submit {
        width: 130px;
        border-radius: 25px;
        -moz-border-radius: 25px;
        -webkit-border-radius: 25px;
        text-transform: uppercase;
        font-size: 13px;
        cursor: pointer;
    }

    .form-group {
        margin-bottom: 10px;
    }

    .submit-link {
        border: 2px solid #fff;
        text-decoration: none;
        display: inline-block;
        vertical-align: middle;
        padding: 12px 0;
        text-align: center;
    }

        .submit-link:hover {
            background: #fff;
            color: #b18757;
        }
</style>
<title>Library Management System</title>
<div class="navbar">
    @Html.ActionLink("Login", "Login", "Account")
    @Html.ActionLink("Register", "Register", "Account")
</div>


<title>Library Management System</title>
        <div class="signup-content">
            <h1>@ViewBag.Title.</h1>

    @using (Html.BeginForm("ForgotPasswordConfirmation", "Account", FormMethod.Get))
    {
        <div>&emsp;&emsp;&emsp;&emsp;
            <p>
                Please check your email for verification code.
            </p>
            <br>

                            &emsp;&emsp;@Html.Label("Enter your code: ") <br>
                            &emsp;&emsp;&emsp;&emsp;@Html.TextBox("code")
            
            <div class="form-group">
                <br >
                &emsp;&emsp;    @Html.Label("New Password", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    &emsp;&emsp;    &emsp;&emsp;    @Html.Password("New")
                </div>
            </div>
            <br>

            <div class="form-group">
                &emsp;&emsp;   @Html.Label("Confirm Password", new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    &emsp;&emsp;&emsp;&emsp;     @Html.Password("Confirm")
                </div>
            </div>
            <br>

            &emsp;&emsp; &emsp;&emsp; &emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;<input type="submit" class="submit-link submit" value="Save Password" />
        </div>
    }
</div>